HBox, VBox, ImageView{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.title{
    -fx-width: 200px;
    -fx-font-size: 30px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.gridpane {
    -fx-padding: 10px;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.button_accept {
    -fx-background-color: -fx-light-green;
}

.button_accept:hover {
    -fx-background-color: -fx-dark-green;
}

.button_decline {
    -fx-background-color: #FFB6C1;
}

.button_decline:hover {
    -fx-background-color: #FF69B4;
}

.buttonBack {
    -fx-background-color: #D3D3D3;
}

.buttonBack:hover {
    -fx-background-color: #A9A9A9;
}

.button_contact {
    -fx-background-color: #ADD8E6;
}

.button_contact:hover {
    -fx-background-color: #87CEEB;
}