HBox, VBox, ImageView{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.title{
    -fx-width: 200px;
    -fx-font-size: 30px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.gridpane {
    -fx-padding: 10px;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.button_accept {
    -fx-background-color: -fx-light-green;
}

.button_decline {
    -fx-background-color: #FFB6C1;
}

.buttonBack {
    -fx-background-color: #D3D3D3;
}