*{
    -fx-light-green: #A1E8AF;
    -fx-dark-green: #94C595;
    -fx-grey: #747C92;
    -fx-purple: #372772;
    -fx-dark-purple: #3A2449;
    -fx-white: #f1f1f1;
    -fx-dark: #000000
}

.root{
    -fx-font-family: "Arial";
}

.navbar{
    -fx-background-color: -fx-dark-green;
}

.buttonNavbar{
    -fx-background-color: -fx-dark-green;
    -fx-text-fill: -fx-dark;
    -fx-cursor: hand;
}

.buttonNavbar:hover{
    -fx-underline: true;    
}