.offer{
    -fx-background-color: -fx-light-green;
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}   

.offer:hover{
    -fx-background-color: -fx-dark-green;
}

.margin{
    -fx-padding: 40px;
    -fx-border-insets: 40px;
    -fx-background-insets: 40px;
}

HBox, VBox, ImageView{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.title{
    -fx-width: 200px;
    -fx-font-size: 30px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.price{
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

